html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

a {
  text-decoration: none;
}

.btn {
  color: #fff;
  background: #333;
  padding: .75em;
  border-radius: 8px;
  font-size: 1.125rem;
  display: inline-block;
}

.btn-subtle {
  background-color: #ccc;
}

.btn-ghost {
  background-color: #fff;
  border: solid 3px #333;
  color: #333;
}

.btn-warning {
  background-color : #f33;
}

.btn-small {
  font-size: .875rem;
  padding: .4em;
}

.btn-big {
  font-size: 1.5rem;
  padding: .3em;
}
